h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #888;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

    .back-button:hover {
        color: #000;
    }



.form-wrapper {
    max-width: 900px;
    margin: 0px auto;
    padding: 0 40px 50px 40px;
}

.btn-submit {
    margin-left: 210px;
    background-color: #F7858F;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 70px;
}

    .btn-submit:hover {
        background-color: #e06c78;
        color: white;
    }

.btn-cancel {
    margin-right: 290px;
    background-color: #b0bec5;
    color: white;
    border: none;
    padding: 8px 20px;
    white-space: nowrap;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 70px;
}

    .btn-cancel:hover {
        background-color: #90a4ae;
        color: white;    }