.invoice-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.column-action {
    width: 120px;
}
.back-button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #888;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.back-button:hover {
    color: #000;
}
.modal-btn {
    background-color: #F7858F;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

    .modal-btn:hover {
        background-color: #e06c78;
        color: white;
    }