/* Nút quay lại */
.back-button {
    display: inline-block;
    margin: 20px 0;
    color: #888;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

    .back-button:hover {
        color: #000;
    }

/* Tiêu đề */
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333;
}

/* Layout giỏ hàng */
.cart-main-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cart-left {
    flex: 1;
    min-width: 600px;
}

.cart-right {
    width: 300px;
    margin-left: auto;
    align-self: flex-start;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

/* Sản phẩm trong giỏ */
.cart-item {
    display: flex;
    gap: 20px;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item-image img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
}

.cart-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-name {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    line-height: 1.3;
}

.item-quantity {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.info-price {
    font-size: 14px;
    color: #888;
    font-weight: normal;
    margin-top: 4px;
}

.cart-item-actions .item-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-top: 80px;
}


/* Nút xóa */
.btn-remove {
    background: none;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 70px;
}

/* Tóm tắt đơn hàng */
.cart-summary h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom:30px;
    color: #1d1d1f;
}

/* Hàng tổng tiền */
.summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 15px;
    color: #1d1d1f;
}

    .summary-row .label {
        font-weight: 500;
    }

    .summary-row .value {
        font-weight: 500;
    }

/* Nút mua hàng */
.btn-pink {
    width: 100%;
    background-color: #f5a8a8;
    color: white;
    border: none;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    margin-top: 10px;
}

    .btn-pink:hover {
        background-color: #e18a8a;
    }

/* Nút thêm vào giỏ (nếu dùng chung) */
.btn-add-to-cart {
    color: #ED8383;
    background-color: transparent;
    border: 1px solid #ED8383;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

/* Khi giỏ hàng trống */
.empty-cart {
    font-size: 18px;
    color: #999;
    text-align: center;
    padding: 50px 0;
}
