/* Tổng khung nền */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0D8DD;
    min-height: 100vh;
}

/* Container chứa ảnh và form */
.login-container {
    display: flex;
    align-items: flex-start;
    width: 80%; 
    max-width: 1200px; 
    height: 550px; 
    background-color: #F0D8DD;
    border: none;
    box-shadow: none;
    overflow: hidden;
    margin: 0 auto; /* Căn giữa khung */
}


/* Cột ảnh trái */
.login-left {
    width: 50%;
    flex-shrink: 0;
}

.login-image {
    display: block;
}

.login-image img {
   width: 100%;
   height: auto;
   object-fit: cover;
   display: block;
   user-select: none;
   pointer-events: none;
}

/* Cột form phải */
.login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    background-color: #F0D8DD;
}


.login-form-wrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    border: none;
}

.login-form-wrapper h5 {
   font-size: 28px;
   text-align: center;
   margin-bottom: 30px;
   color: #222;
   font-weight: 500;
}


.form-group,
.button-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    align-self: flex-start;
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 10px 14px;
    font-size: 15px;
    background-color: #fff;
    color: #222;
    border: none;
    outline: none;
}

    .form-control:focus {
        background-color: #fff;
        outline: none;
    }

/* Nút đăng nhập */
.btn-login {
    width: 280px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    background-color: #fff;
    border: 2px solid #222;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

    .btn-login:hover {
        background-color: #D9768C;
        color: #fff;
        border-color: #B7526B;
    }
.btn-new {
    width: 280px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    background-color: #fff;
    border: 2px solid #222;
    box-sizing: border-box;
    transition: background-color 0.3s;
    align-items: center;
}

    .btn-new:hover {
        background-color: #D9768C;
        color: #fff;
        border-color: #B7526B;
    }
}
/* Gợi ý dưới form */
.login-form-wrapper p {
    text-align: center;
    font-size: 14px;
    color: #444;
}

.login-form-wrapper a {
    color: #f00;
    text-decoration: underline;
}
