
@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<html>
<head>
    <!-- Thư viện CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/Content/dichvu.css" />
    <!-- Bootstrap JS và jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</head>


<body>

    <h2>1. DỊCH VỤ BẢO HÀNH MIỄN PHÍ</h2>

    <table>
        <thead>
            <tr>
                <th>Nội dung</th>
                <th>Thời gian</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Làm sạch sản phẩm tại cửa hàng</td>
                <td>Trọn đời</td>
            </tr>
            <tr>
                <td>Đánh bóng và xi mới</td>
                <td>05 lần</td>
            </tr>
            <tr>
                <td>Gắn đá CZ</td>
                <td>Trọn đời</td>
            </tr>
            <tr>
                <td>Gắn kim cương/ đá màu/ ngọc trai (chưa bao gồm viên)</td>
                <td>Miễn phí công gắn</td>
            </tr>
            <tr>
                <td>Gắn đá Moissanite từ 0.8-3.0 mm</td>
                <td>Trọn đời</td>
            </tr>
            <tr>
                <td>Chỉnh size tay, khắc tên</td>
                <td>Trọn đời</td>
            </tr>
        </tbody>
    </table>
    <p class="table-note">Bảng 1</p>

    <h2>2. DỊCH VỤ BẢO HÀNH TÍNH PHÍ</h2>

    <table>
        <thead>
            <tr>
                <th>Nội dung bảo hành</th>
                <th>Chi phí bảo hành</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sửa độ rung ladanse</td>
                <td>100.000đ</td>
            </tr>
            <tr>
                <td>Nắn lại nhẫn (tùy tình trạng), đánh bóng, xi mới</td>
                <td>50.000đ</td>
            </tr>
            <tr>
                <td>Cắt dây/hàn dây: cắt, đốt, hàn, đánh bóng, xi mới (chưa bao gồm bạc thêm)</td>
                <td>70.000đ + phí bạc thêm</td>
            </tr>
            <tr>
                <td>Nhẫn thay đai, sản phẩm thêm chi tiết (chưa bao gồm bạc thêm)</td>
                <td>70.000đ + phí bạc thêm</td>
            </tr>
        </tbody>
    </table>

    <p class="table-note">Bảng 2</p>

    <div class="note">
        <h3>LƯU Ý:</h3>
        <ul>
            <li>Thời gian sửa chữa: 3 - 5 ngày làm việc (Nhẫn thay đai, sản phẩm thêm chi tiết 7 ngày làm việc).</li>
            <li>Đối với các hoạt động bảo hành, Huy Thanh áp dụng bảo hành điện tử bằng việc tra cứu thông tin trên hệ thống phần mềm.</li>
            <li>Các dịch vụ bảo hành, sửa chữa sản phẩm (làm mới, chỉnh size,...) có thể giảm về trọng lượng so với ban đầu do bị hao mòn trong thời gian sử dụng và quy trình làm mới sản phẩm (<span class="highlight">Hạn mức hao mòn: 6%</span>).</li>
            <li>bạc là kim loại mềm, dễ bị xước và không hình dạng khi đeo trong thời gian dài. Vui lòng không đeo trang sức trong lúc hoạt động mạnh và bê vác.</li>
        </ul>
    </div>

</body>
</html>


