
@{
    ViewBag.Title = "LoaiBac";
    Layout = "~/Views/shared/_LayoutUser.cshtml";
}
<h2>Thông tin về loại bạc </h2>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/loaibac.css" rel="stylesheet" />
</head>

<body>
    <div class="thong-tin-vat-lieu">
        <div class="hinh-anh">
            <img src="~/Images/mau21.jpg" alt="Ảnh minh họa bạc Ý" />
        </div>
        <div class="noi-dung">
            <p><strong>Bạc Ý (Sterling Silver Italy)</strong></p>
            <p>
                Bạc Ý (Bạc Italy) là một trong những loại bạc cao cấp nhất trên thị trường trang sức.
                Nó được sản xuất ở Ý hoặc theo công nghệ của Ý và được chứng nhận bởi Tổ chức Giám định Bạc Ý (Assayeria di Stato).
                Bạc Ý có độ tinh khiết cao, thường chứa từ 92,5% đến 95% bạc và được tạo ra bằng các quy trình sản xuất nghiêm ngặt để đảm bảo chất lượng cao nhất.
                Sản phẩm bạc Ý có giá trị cao nhưng đáng giá tiền với tính đẳng cấp và sự bền vững của nó.
                Sản phẩm bạc Ý thường được đánh dấu bằng dấu S925.
            </p>
        </div>
    </div>


    <div class="thong-tin">
        <div class="noi-dung">
            <p><strong>Bạc Thái (Bạc 925)</strong></p>
            <p>
                Bạc Thái là thuật ngữ chỉ đến bạc sản xuất tại Thái Lan hoặc theo công nghệ của Thái Lan. Bạc Thái được sản xuất với nhiều kiểu dáng và kỹ thuật khác nhau, từ những món trang sức đơn giản cho đến những món đắt giá và được xem là một trong những loại bạc có chất lượng tốt trên thị trường.
                Bạc Thái có thành phần hợp chất tương tự như bạc S925, bao gồm: 92,5% bạc nguyên chất, 7,5% là hỗn hợp các kim loại khác để tăng thêm độ cứng và độ bóng.
                Khác với bạc S925, bạc Thái được nung nấu trong quá trình chế tác nên sở hữu gam màu nâu, đen ấn tượng. Do trải qua công đoạn nung nấu, loại bạc này không dễ bị xỉn màu và khiến cho trang sức bạc Thái trở nên vô cùng độc đáo.
            </p>
        </div>
        <div class="hinh-anh">
            <img src="~/Images/mau24.jpg" alt="Ảnh minh họa bạc Thái" />
        </div>
    </div>
    <div>
        <div class="goi-y">
            <div class="cam-ket">
                <p><strong>Cam kết về chất lượng bạc <i class="fa-solid fa-shield-heart"></i></strong></p>
                <p>- Chúng tôi cam kết sử dụng chỉ bạc Ý (S925) và bạc Thái chính hãng, đảm bảo độ tinh khiết từ 92,5% trở lên, với chất lượng vượt trội và độ bền lâu dài. </p>
                <p>- Tất cả sản phẩm đều được chế tác tỉ mỉ và kiểm tra nghiêm ngặt, mang đến sự an tâm tuyệt đối cho khách hàng.</p>
                <p>- Nếu sản phẩm không đạt chất lượng, chúng tôi cam kết đổi trả hoặc hoàn tiền.</p>
            </div>
        </div>
    </div>


</body>
</html>