@model ProjectCDTT_63132701.Models.KhachHang
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/shared/_LayoutUser.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/login.css" />
</head>

<div class="login-wrapper">
    <div class="login-container">
        <div class="login-left">
            <div class="login-image">
                <img src="~/images/mau29.jpg" alt="trang sức cao cấp" class="img-fluid" />
            </div>
        </div>
<div class="login-right">
    <div class="login-form-wrapper">
        <h5>ĐĂNG NHẬP</h5>
        @using (Html.BeginForm("Login", "Tai_khoan", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Nhập email" required />
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Nhập mật khẩu" required />
            </div>


            <div class="button-container">
                <button type="submit" class="btn btn-login">ĐĂNG NHẬP</button>
            </div>
        }
        <p>Chưa có tài khoản? <a href="/Tai_khoan/Register">Đăng ký</a></p>
    </div>
</div>
    </div>
</div>
